<style>
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}
</style>
<table>
	<thead>
		<tr>
			<th>id</th>
			<th>numero</th>
			<th>equipamentos</th>
		</tr>
	</thead>
	<tbody>
		{% for linha in lista %}
		<tr>
			<td>{{ linha.id }}</td>
			<td>{{ linha.numero }}</td>
			<td>{{ linha.equipamentos }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>